<div class="container pt-3 pb-3">
  <h2 style="text-align: center;"> PRUEBA 10-11-2023 con DB duplicada Bienvenidos al Sitema de Gestión del Proyecto Docente Integrador</h2>
  <img src="assets/images/3.png" alt="50%" width="50%" style="margin:auto;
  display:block;"/><br>
  <div class="card m-3 p-3">
    <div class="card-body m-3 p-3">
      <h3>
        OBJETIVO
      </h3>
      <p class="text-gray-600 mb-8">
        La creación del rol del Docente Integrador tiene la finalidad de fomentar el trabajo en equipo e integrar
        la planificación que realizan los docentes de primer ciclo (o de los ciclos en los que fue asignado
        el docente integrador) de cada carrera, con el objetivo de que todas las materias que se ofrecen en
        este ciclo cuenten con una planificación estructurada y organizada, en donde se desarrollen
        las competencias requeridas por los estudiantes.
      </p>
    </div>
  </div>
  <br>
  <div class="card m-3 p-3">
    <div class="card-body m-3 p-3">
      <h3 class="text-3xl text-gray-800 font-bold leading-none">
        PERFIL DEL DOCENTE INTEGRADOR
      </h3>
      <p class="text-gray-600 mb-8">
      <li>Liderazgo</li>
      <li>Resolución de conflictos</li>
      <li>Trabajo en equipo</li>
      <li>Empatía con los estudiantes</li>
      </p>
    </div>
  </div>
  <br>
  <div class="card m-3">
    <div class="card-body m-3">
      <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
        FUNCIONES
      </h3>
      <p class="text-gray-600 mb-8">
        <li>Conformar un grupo de trabajo con todos los docentes de primer ciclo y fomentar el trabajo interdisciplinar y
          en equipo.
        </li>
        <li>Velar por la permanencia de los estudiantes de primer ciclo en la titulación y en la universidad, dando
          seguimiento a los indicadores de retención inicial y satisfacción por el aprendizaje. Este trabajo deberá ser
          coordinado con el equipo de calidad.
        </li>
        <li>Trabajar de manera coordinada con los estudiantes mentores de alumnos nuevos, con la finalidad de solventar
          las dificultades detectadas en los estudiantes
        </li>
      </p>
    </div>
  </div>

  <div class="row">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#projectModal">Ver información del proyecto</button>

    <div id="projectModal" class="modal">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Proyecto Docente Integrador</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Aqui se encuentra el documento del Proyecto Docente Integrador</p>
            <!--ngx-doc-viewer [url]="https://docs.google.com/spreadsheets/d/1hH2ci6xCgHEiCJasorDYpUr5Xlb3NN8F/edit?usp=sharing&ouid=100949079143530886664&rtpof=true&sd=true" viewer="google" class="absolute inset-0"></ngx-doc-viewer-->
            <ngx-doc-viewer [url]="url" viewer="url" style="width:100%;height:90%;"></ngx-doc-viewer>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- TODO: Quitar el botón y redireccionar a la página de documentos -->
