<header>

  <nav class="navbar">
    <div class="container-fluid">

      <!--brand-->

      <a class="navbar-brand" href="/">
        <img src="/assets/images/docente-integrador.svg" alt="Imagen del buho" width="30" height="24"
             class="d-inline-block align-text-top">
      </a>

      <!--dropdown-->

      <div class="dropdown">
        <button class="user-btn btn dropdown-toggle" type="button" id="dropdownMenuUser" data-bs-toggle="dropdown"
                aria-expanded="false">
          <i-feather class="fas" name="user" style="color: var(--color-primary);"></i-feather>
        </button>
        <ul class="dropdown-menu dropdown-menu-md-end" aria-labelledby="dropdownMenuUser">
          <li *ngIf="!user"><a class="dropdown-item" [routerLink]="['/login']">Iniciar sesión</a></li>
          <li *ngIf="user">
            <a class="dropdown-item"> <b> {{ user!.email!.split('@')[0]}} </b> </a>
          </li>
          <li *ngIf="user">
            <hr class="dropdown-divider">
          </li>
          <li *ngIf="user"><a class="dropdown-item" [routerLink]="['/dashboard', 'home']" >Ir al panel</a></li>
<!--          <li><a class="dropdown-item" href="#">Guía de usuario</a></li>-->
          <li *ngIf="user"><a class="dropdown-item" (click)="signOut()" >Cerrar sesión</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>

  <section>

    <div class="container">
      <div class="row justify-content-center my-3">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                      aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                      aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                      aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/assets/images/Integracion.jpg" class="d-block w-100" alt="Imagen del fondo de pantalla">
                <div class="carousel-caption d-none d-md-block">
                  <h5><b>-- PRUEBA 10-11-2023 con DB duplicada --Proyecto Docente Integrador</b></h5>
                  <p>La creación del rol del Docente Integrador tiene la finalidad de fomentar el trabajo en equipo.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/assets/images/Integrar.jpg" class="d-block w-100" alt="Imagen del fondo de pantalla">
                <div class="carousel-caption d-none d-md-block">
                  <h5><b>Proyecto Docente Integrador</b></h5>
                  <p>Se busca integrar la planificación que realizan los docentes de primer ciclo (o de los ciclos en
                    los que fue
                    asignado el docente integrador) de cada carrera.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/assets/images/kenny-eliason-1-aA2Fadydc-unsplash.jpg" class="d-block w-100" alt="Imagen del fondo de pantalla">
                <div class="carousel-caption d-none d-md-block">
                  <h5><b>Proyecto Docente Integrador</b></h5>
                  <p>El objetivo de que todas las materias que se ofrecen en este ciclo cuenten con una planificación
                    estructurada y organizada, en donde se desarrollen las competencias
                    requeridas por los estudiantes.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        </div>
      </div>

    </div>

  </section>

  <div class="container mt-4">
    <section class="row m-3 p-3">
      <article class="col-sm-3">
        <div class="card text-white bg-danger mb-3">
          <div class="card-body">
            <h5 class="card-title text-center"><b>39</b></h5>
            <p class="card-text text-center">Docentes</p>
          </div>
        </div>
      </article>

      <article class="col-sm-3">
        <div class="card text-white bg-danger mb-3">
          <div class="card-body">
            <h5 class="card-title text-center"><b>28</b></h5>
            <p class="card-text text-center">Carreras</p>
          </div>
        </div>
      </article>

      <article class="col-sm-3">
        <div class="card text-white bg-danger mb-3">
          <div class="card-body">
            <h5 class="card-title text-center"><b>5</b></h5>
            <p class="card-text text-center">Facultades</p>
          </div>
        </div>
      </article>

      <article class="col-sm-3">
        <div class="card text-white bg-danger mb-3">
          <div class="card-body">
            <h5 class="card-title text-center"><b>2</b></h5>
            <p class="card-text text-center">Modalidades</p>
          </div>
        </div>
      </article>
    </section>
  </div>

  <div class="container mt-4">
    <!--  <section class="features">-->
    <section class="row">
      <article class="col-sm-4">
        <div class="feature">
          <div class="marco text-center">
            <i-feather class="fas feature-icon" name="trello"></i-feather>
          </div>
          <div class="feature-title rounded-pill p-2">
            <h6 class="text-center"><b>Duración</b></h6>
          </div>
          <div class="feature-body">
            <p class="text-center">
              El Docente Integrador desempeñará este rol durante todo el periodo académico, para lo cual, deberá ser
              profesor de una o varias asignaturas del ciclo en el que fue designado.
            </p>
          </div>
        </div>
      </article>

      <article class="col-sm-4">
        <div class="feature">
          <div class="marco text-center">
            <i-feather class="fas feature-icon" name="bookmark"></i-feather>
          </div>
          <div class="feature-title rounded-pill p-2">
            <h6 class="text-center"><b>Nombramiento</b></h6>
          </div>
          <div class="feature-body">
            <p class="text-center">
              El Docente Integrador es designado por el Director de Carrera.
            </p>
          </div>
        </div>
      </article>

      <article class="col-sm-4">
        <div class="feature">
          <div class="marco text-center">
            <i-feather class="fas feature-icon" name="award"></i-feather>
          </div>
          <div class="feature-title rounded-pill p-2">
            <h6 class="text-center"><b>Reconocimiento</b></h6>
          </div>
          <div class="feature-body">
            <p class="text-center">
              La participación será reconocida como una buena práctica de innovación en la línea de gestión curricular y
              tendrá un reconocimiento en el proceso de evaluación integral.
            </p>
          </div>
        </div>
      </article>
    </section>
  </div>


  <div class="container py-4">
    <section class="row-cols-sm-auto d-flex justify-content-center m-3">
      <img src="/assets/images/proyecto-ascendere.png" alt="Logo de ascendere" class="partner-img">
      <img src="/assets/images/Utpl.png" alt="Logo de la Universidad" class="partner-img">
      <img src="/assets/images/LiiD.png" alt="Logo del LiiD" class="partner-img">
    </section>
  </div>

</main>

<footer class="footer">
  <p class="container-fluid rectanguloPiePagina">
    &copy; 2022 Proyecto Docente Integrador
  </p>
</footer>
